.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 26.6rem;
    min-height: 8rem;
    max-height: min(calc(100vh - 96px - 60px), 734px);
    background-color: #fff;
    box-shadow: rgb(0 0 0 / 12%) 0px 2px 12px;
    border-radius: 8px;
    position: relative;
    z-index: 99;
    overflow-y: auto;
    padding: 5rem 16px 16px 16px;
    transition: all 0.25s ease;
    &.customFooter {
        padding-bottom: 60px;
    }
}

.arrow {
    position: absolute;
    right: 5px;
    top: -26px;
    font-size: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    z-index: 1;
}
.small {
    max-width: 32.6rem;
}
.large {
    max-width: 42.6rem;
}
